RewriteEngine On

RewriteRule ^([a-z][a-z0-9]*)$ /?show=$1
RewriteRule ^([a-z][a-z0-9]*)\?([aA-zZ0-9&]+)$ /?show=argprinter&arg2=hello
RewriteRule ^res=([aA-zZ\.0-9]+)$ /res/$1
RewriteRule ^HuBba$ /?show=argprinter&argument2=hello&argument3=no

DirectoryIndex index.py
